@media screen and (min-width: 0px){
    .fp-pageStyle{
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 5rem 0 5rem 0;
        background-color: #F55A5A;
        font-size: 1.5rem;

    }
    .fp-formDivStyle{
        justify-content: center;
        display: flex;
        height: 35rem;
        width:90%;
        padding-top: 3rem;
        border-radius: 6rem;
        background-color: white;
        font-size: 1.5rem;

    }
    .cp-pageStyle{
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 10rem 0 9.5rem 0;
        background-color: #F55A5A;
        font-size: 1.5rem;
    }
    .cp-formDivStyle{
        justify-content: center;
        display: flex;
        height: 45rem;
        width:90%;
        padding-top: 3rem;
        border-radius: 6rem;
        background-color: white;
        font-size: 1.5rem;

    }
    .inputStyle{
        width:30rem;
        height:4rem;
    }

    .cp-button{
        width: 25rem;
        height: 4rem;
        background-color: #F55A5A;
        color: white;
        font-size: 2rem;
        border: none;
        margin-top: 1.5rem;
    }
}
@media screen and (min-width: 426px){
    .fp-pageStyle{
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 8rem 0 8rem 0;
        background-color: #F55A5A;
        font-size: 1.5rem;

    }
    .fp-formDivStyle{
        justify-content: center;
        display: flex;
        height: 35rem;
        width:60%;
        padding-top: 3rem;
        border-radius: 6rem;
        background-color: white;
        font-size: 1.5rem;

    }
    .cp-pageStyle{
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 10rem 0 9.5rem 0;
        background-color: #F55A5A;
        font-size: 1.5rem;
    }
    .cp-formDivStyle{
        justify-content: center;
        display: flex;
        height: 45rem;
        width:60%;
        padding-top: 3rem;
        border-radius: 6rem;
        background-color: white;
        font-size: 1.5rem;

    }
    .inputStyle{
        width:30rem;
        height:4rem;
    }

    .cp-button{
        width: 25rem;
        height: 4rem;
        background-color: #F55A5A;
        color: white;
        font-size: 2rem;
        border: none;
        margin-top: 1.5rem;
    }
}
@media screen and (min-width: 769px){
    .fp-pageStyle{
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 8rem 0 8rem 0;
        background-color: #F55A5A;
        font-size: 1.5rem;

    }
    .fp-formDivStyle{
        justify-content: center;
        display: flex;
        height: 35rem;
        width:40%;
        padding-top: 3rem;
        border-radius: 6rem;
        background-color: white;
        font-size: 1.5rem;

    }
    .cp-pageStyle{
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 10rem 0 9.5rem 0;
        background-color: #F55A5A;
        font-size: 1.5rem;
    }
    .cp-formDivStyle{
        justify-content: center;
        display: flex;
        height: 45rem;
        width:40%;
        padding-top: 3rem;
        border-radius: 6rem;
        background-color: white;
        font-size: 1.5rem;

    }
    .inputStyle{
        width:30rem;
        height:4rem;
    }

    .cp-button{
        width: 32rem;
        height: 4rem;
        background-color: #F55A5A;
        color: white;
        font-size: 2rem;
        border: none;
        margin-top: 1.5rem;
    }
}
@media screen and (min-width: 1025px){
    .fp-pageStyle{
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 12rem 0 12rem 0;
        background-color: #F55A5A;
        font-size: 1.5rem;

    }
    .fp-formDivStyle{
        justify-content: center;
        display: flex;
        height: 35rem;
        width:30%;
        padding-top: 3rem;
        border-radius: 6rem;
        background-color: white;
        font-size: 1.5rem;

    }
    .cp-pageStyle{
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 10rem 0 9.5rem 0;
        background-color: #F55A5A;
        font-size: 1.5rem;
    }
    .cp-formDivStyle{
        justify-content: center;
        display: flex;
        height: 45rem;
        width:30%;
        padding-top: 3rem;
        border-radius: 6rem;
        background-color: white;
        font-size: 1.5rem;

    }
    .inputStyle{
        width:30rem;
        height:4rem;
    }

    .cp-button{
        width: 32rem;
        height: 4rem;
        background-color: #F55A5A;
        color: white;
        font-size: 2rem;
        border: none;
        margin-top: 1.5rem;
    }
}
