.content{
    justify-content: center;
    display:flex;
}
.table{
    margin-left:auto;
    margin-right:auto;    
}

.imgStyle{
    height:15rem;
    width:15rem;
    border-radius:50%;
    margin:0% 7.5%;
    border: .1rem solid black
}
.tablestyle{
    text-align:left;
    margin-left:1rem;
}
.rowstyle{
    padding:0;
    line-height: 0;
}

.user-details{
    font-size: 1.4rem;
}

@media screen and (min-width: 0px){
    
    .user-details{
        margin-top: 6%;

    }
    .details-button{
        width: 25rem;
        height: 4rem;
        background-color: #F55A5A;
        color: white;
        font-size: 2rem;
        border: none;
        border-radius: 0.5rem;
        margin-top: 1.5rem;

    }
}
@media screen and (min-width: 321px){
    
    .user-details{
        margin-top: 6%;

    }
    .details-button{
        width: 25rem;
        height: 4rem;
        background-color: #F55A5A;
        color: white;
        font-size: 2rem;
        border: none;
        border-radius: 0.5rem;
        margin-top: 1.5rem;

    }
}
@media screen and (min-width: 426px){
    
    .user-details{
        margin-top: 4%;

    }
    .details-button{
        width: 28rem;
        height: 4rem;
        background-color: #F55A5A;
        color: white;
        font-size: 2rem;
        border: none;
        border-radius: 0.5rem;
        margin-top: 1.5rem;

    }
}

