.page{
    justify-content: center;
    display:flex;
    margin-top: 2%;
}
.table{
    margin-left:auto;
    margin-right:auto;    
}

.imgStyle1{
    height:12rem;
    width:12rem;
    border-radius:50%;
    margin:0% 7.5%;
    border: .1rem solid black
}
.tablestyle{
    text-align:left;
    margin-left:1rem;
}
.rowstyle{
    padding:0;
    line-height: 0;
}

.mytab-button{
    position: fixed;
    width: 80%;
    justify-content: center;
    display: flex;
    margin-left: 10%;
    margin-top: 0%;
    
}

.mytab-disable{
    font-size: 2rem;
    width: 50%;     
    background-color:grey;
    
}
.mytab-active{
    font-size: 2rem;
    width: 50%; 
    
}

@media screen and (min-width: 0px){
    
    
.my-details{
    font-size: 1.4rem;
    margin-top: 11%;

}
    .user-button{
        width: 25rem;
        height: 4rem;
        background-color: #F55A5A;
        color: white;
        font-size: 2rem;
        border: none;
        border-radius: 0.5rem;
        margin-top: 1.5rem;

    }
}
@media screen and (min-width: 321px){
    
    
.my-details{
    font-size: 1.4rem;
    margin-top: 11%;

}
    .user-button{
        width: 25rem;
        height: 4rem;
        background-color: #F55A5A;
        color: white;
        font-size: 2rem;
        border: none;
        border-radius: 0.5rem;
        margin-top: 1.5rem;

    }
}
@media screen and (min-width: 426px){
    
.my-details{
    font-size: 1.5rem;
    margin-top: 6%;

}
       .user-button{
        width: 28rem;
        height: 4rem;
        background-color: #F55A5A;
        color: white;
        font-size: 1.5rem;
        border: none;
        border-radius: 0.5rem;
        margin-top: 1.5rem;

    }
}

