
.dest-page{
    padding-top: 2%;
}

.tab-disable{
    font-size: 2rem;
    width: 50%;     
    background-color:grey;
    
}
.tab-active{
    font-size: 2rem;
    width: 50%; 
    
}

.add-button{
    border-radius:100%;
    background-color:#F55A5A; 
    height:60px; 
    color:white; 
    font-size:4rem; 
    position:fixed;
    left:92%;
    top:85%;
    border:none;

}
