.info{
    display: flex;
    width:100%;
    min-height: 7%;
  
  }
  .image{
    width:100%;
    margin-right:3rem;
    border-radius: 0.5rem;
    box-shadow: .2rem .2rem .3rem .2rem grey;
    /* margin-top: 5%; */
  }
  .section{
    display:block;
    width:20%;
  }
  .details{
    width:60%;
    margin-left: 3%;
  
  }
  .action{
    margin-top: 0;
    margin-left: auto;
    justify-content: space-between;
    display:flex;
    width: 4rem;
  }
  .comp{
    display:flex;
    margin: 2rem; 
    background-color: #efdcff;
    border-radius: 0.5rem;
    padding:1%;
    box-shadow: .3rem .3rem .4rem .3rem grey;
  }
  .place{
    margin-bottom:0;
    margin-top: 0;
  }
  .location{
    display:flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .placeName{
    margin-top: 0;
  }
  
  .maps{
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .date{
    display: flex;
    margin: 0;
  
  }
  .start{
    margin-right: 1rem;
    margin-top: 0;
    /* margin-bottom: 0; */
  }
  .end{
    margin-top: 0;
    /* margin-bottom: 0; */
  }