@media screen and (min-width: 0px) {
  .comp{
    display:flex;
    margin: 1rem 2rem; 
    background-color: #9fb9e2;
    border-radius: 0.5rem;
    padding:1%;
    box-shadow: .3rem .3rem .4rem .3rem grey;
    font-size: 1.5rem;
    justify-content: center;
    width:85%;
  }
  .info{
    display: block;
    justify-content: center;
    width:100%;
    min-height: 7%;
  }
  .image{
    width:80%;
    margin:1rem 9%;
    border-radius: 0.5rem;
    box-shadow: .2rem .2rem .3rem .2rem grey;
    height:15rem;
  }
  .buttondiv{
    display: flex;
  }
  
.buttonStyle span{
  display: none;
}
  .buttonStyle{
    width:45%;
    background-color:#ffbb00;
    margin-right: 2.5%;
    margin-left: 2%;
    max-height:2.3rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: .2rem .2rem .3rem .2rem grey;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    
}
  .section{
    display:block;
    justify-content: center;
    width:100%;
    padding-bottom: 0.5rem;
  }
  .details{
    width:90%;
    margin-left: 2%;
    padding-bottom: 1.5rem;
    justify-content: center;
    display: block;

  }
  .place{
    margin-bottom:0;
    margin-top: 0;
  }
  .location{
    display:flex;
    margin-top: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    
  }
  .action{
    margin-top: 1rem;
    justify-content: center;
    display:flex;
    width: 100%;
  }
  .placeName{
    margin-top: 0;
    width:100%;
    justify-content: center;
    text-align: center;
    font-size:1.6rem;
    font-weight: 200px;
  }
  .maps{
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .date{
    display: flex;
    margin: 0;
      }
  .start{
    margin-right: 20%;
    margin-top: 0;
    width:35%;
    margin-left: 8.5%;
  }
  .end{
    margin-top: 0;
    width:35%;

  }
}
@media screen and (min-width: 376px) {
  .comp{
    display:flex;
    margin: 1rem 2rem; 
    background-color: #9fb9e2;
    border-radius: 0.5rem;
    padding:1%;
    box-shadow: .3rem .3rem .4rem .3rem grey;
    font-size: 1.5rem;
    justify-content: center;
    width:85%;


  }
  .info{
    display: block;
    justify-content: center;
    width:100%;
    min-height: 7%;
  
  }
  .image{
    width:80%;
    margin:1rem 9%;
    border-radius: 0.5rem;
    box-shadow: .2rem .2rem .3rem .2rem grey;
    height:20rem;
  }
  .buttondiv{
    display: flex;
  }
  
.buttonStyle span{
  display: none;
}
  .buttonStyle{
    width:45%;
    background-color:#ffbb00;
    margin-right: 2.5%;
    margin-left: 2.5%;
    max-height:2.3rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: .2rem .2rem .3rem .2rem grey;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    
}
  .section{
    display:block;
    justify-content: center;
    width:100%;
    padding-bottom: 0.5rem;
  }
  .details{
    width:90%;
    margin-left: 3%;
    padding-bottom: 1.5rem;
    justify-content: center;
    display: block;

  }
  .place{
    margin-bottom:0;
    margin-top: 0;
  }
  .location{
    display:flex;
    margin-top: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    
  }
  .action{
    margin-top: 1rem;
    justify-content: center;
    display:flex;
    width: 100%;
  }
  .placeName{
    margin-top: 0;
    width:100%;
    justify-content: center;
    text-align: center;
    font-size:1.6rem;
    font-weight: 200px;
  }
  .maps{
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .date{
    display: flex;
    margin-left: 3rem;
      }
  .start{
    margin-right: 20%;
    margin-top: 0;
    width:30%;
    margin-left: 7%;
  }
  .end{
    margin-top: 0;
    width:30%;

  }
}

@media screen and (min-width: 426px) {
  .info{
    display: flex;
    width:100%;
    min-height: 7%;
  }
  .image{
    width:99%;
    margin-left: 0;
    border-radius: 0.5rem;
    box-shadow: .2rem .2rem .3rem .2rem grey;
    height:23rem;
  }
  .section{
    display:block;
    width:50%;
    padding:0;
  }
  .details{
    width:60%;
    margin-left: 3%;
  
  }
  .action{
    margin-top: 1rem;
    justify-content: center;
    display:flex;
    width: 102.5%;
  }
  .comp{
    display:flex;
    margin: 2rem; 
    background-color: #9fb9e2;
    border-radius: 0.5rem;
    padding:1%;
    box-shadow: .3rem .3rem .4rem .3rem grey;
    font-size: 1.5rem;
    width:90%;

  }
  .place{
    margin-bottom:0;
    margin-top: 1rem;
  }
  .location{
    display:flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .placeName{
    margin-top: 0;
  }
  
  .maps{
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .date{
    display: flex;
  margin-left:5rem ; 
  
  }
  .start{
    margin-right: 5rem;
    margin-top: 0;
    width:30%;
    /* margin-bottom: 0; */
  }
  .end{
    margin-top: 0;
    width:25%;
  }
.buttondiv{
    display: block;
  }
  
.buttonStyle span{
  display:contents;
}
  .buttonStyle{
      margin-left:0;
        width:100%;
        background-color:#ffbb00;
        margin-top:2%;
        min-height:3rem;
        border-radius: 0.5rem;
        border: none;
        box-shadow: .2rem .2rem .3rem .2rem grey;
        font-size: 1.7rem;
        justify-content: center;
        text-align: center;
        padding-bottom: 0.5rem;
        
  }
}@media screen and (min-width: 769px) {
  
  .comp{
    display:flex;
    margin: 2rem; 
    background-color: #9fb9e2;
    border-radius: 0.5rem;
    padding:1%;
    box-shadow: .3rem .3rem .4rem .3rem grey;
    font-size: 1.5rem;
  }
  .info{
    display: flex;
    width:100%;
    min-height: 7%; 
  }
  .details{
    width:60%;
    margin-left: 3%;
  }
  .place{
    margin-bottom:0;
    margin-top: 1rem;
  }
  .location{
    display:flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .placeName{
    margin-top: 0;
  }
  
  .maps{
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .date{
    display: flex;
    margin: auto;
    justify-content: center;
    width:100%;
  }
  .start{
    margin-right: 1rem;
    margin-top: 0;
    width:40%
    /* margin-bottom: 0; */
  }
  .end{
    margin-top: 0;
    width:40%;
  }
  .section{
    display:block;
    width:30%;
    justify-content: center;
    margin:0;
    padding:0;
  }

  .image{
    width:100%;
    margin-right:3rem;
    max-height: 75%;
    border-radius: 0.5rem;
    box-shadow: .2rem .2rem .3rem .2rem grey;

  }
  
  .action{
    margin-left: 0;
    padding: 0%;
    margin-top: 0;
    justify-content: center;
    display:flex;
    width: 102.5%;
  }
  
  .buttondiv{
    display: block;
  }
  
.buttonStyle span{
  display:contents;
}
  .buttonStyle{
    margin-left:0;
        width:100%;
        background-color:#ffbb00;
        margin-top:2%;
        min-height:3rem;
        border-radius: 0.5rem;
        border: none;
        box-shadow: .2rem .2rem .3rem .2rem grey;
        font-size: 1.7rem;
        justify-content: center;
        text-align: center;
        padding-bottom: 0.5rem;
  }
}
@media screen and (min-width: 1025px) {
  .comp{
    display:flex;
    margin: 1% auto; 
    background-color: #9fb9e2;
    border-radius: 0.5rem;
    padding-bottom:0.5%;
    box-shadow: .3rem .3rem .4rem .3rem grey;
    font-size: 1.6rem;
    width:97%;
  }
  .info{
    display: flex;
    width:100%;
    /* min-height: 7%;  */
    padding:0;
  }
  .details{
    width:60%;
    margin-left: 3%;
  }
  .place{
    margin-bottom:0;
    margin-top: 1rem;
  }
  .location{
    display:flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .placeName{
    margin-top: 0;
    display:flex;
    justify-content: left;
    
  }
  .date{
    display: flex;
    margin-left: 0;
    justify-content: left;
    /* width:100%; */
  }
  .start{
    margin-right: 1rem;
    text-align: left;
    margin-left:0;
    /* width:40% */
    /* margin-bottom: 0; */
  }
  .end{
    margin-top: 0;
    text-align: left;
    /* width:40%; */
  }
  .section{
    display:block;
    width:20%;
    justify-content: left;
    margin:0;
    padding-bottom:0.9rem;
  }

  .image{
    width:100%;
    margin-right:3rem;
    max-height: 75%;
    border-radius: 0.5rem;
    box-shadow: .2rem .2rem .3rem .2rem grey;
    margin-bottom: 0;
    margin-top: 0;

  }
  
  .action{
    margin-left: 0;
    padding: 0%;
    justify-content: center;
    display:flex;
    margin-top: 0;
    width: 102.5%;
  }
  .content-css{
    text-align: left;
  }
  
  .buttondiv{
    display: block;
  }
  .maps{
    margin-left: 1rem;
    margin-top: 1rem;
  }
.buttonStyle span{
  display:contents;
}
  .buttonStyle{
        margin-left:0;
        width:100%;
        background-color:#ffbb00;
        margin-top:2%;
        min-height:3rem;
        border-radius: 0.5rem;
        border: none;
        box-shadow: .2rem .2rem .3rem .2rem grey;
        font-size: 1.7rem;
        justify-content: center;
        text-align: center;
        padding-bottom: 0.5rem;
  }}
@media screen and (min-width: 1440px) {
  .info{
    display: flex;
    width:100%;
    min-height: 7%;
  }
  .image{
    width:100%;
    max-height: 75%;
    border-radius: 0.5rem;
    box-shadow: .2rem .2rem .3rem .2rem grey;
    height:35rem;

  }
  .section{
    display:block;
    width:25%;
  }
  .details{
    width:60%;
    margin-left: 3%;
  }
  .action{
    margin-left: 0;
    padding: 0%;
    justify-content: center;
    display:flex;
    width: 102.5%;
  }
  .comp{
    display:flex;
    margin: 2rem; 
    background-color: #9fb9e2;
    border-radius: 0.5rem;
    padding:1%;
    box-shadow: .3rem .3rem .4rem .3rem grey;
    font-size: 2rem;
  }
  .place{
    margin-bottom:0;
    margin-top: 1rem;
  }
  .location{
    display:flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .placeName{
    margin-top: 0;
  }
  
  .maps{
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .date{
    display: flex;
    margin: 0;
    /* justify-content: center; */
  
  }
  .start{
    margin-top: 0;
    text-align: left;
  }
  .end{
    margin-top: 0;
    text-align: left;

  }
  
  .content-css{
    text-align: left;
  }
  .buttondiv{
    display: block;
  }
  
  .buttonStyle span{
    display:contents;
  }
    .buttonStyle{
          margin-left:0;
          width:100%;
          background-color:#ffbb00;
          margin-top:2%;
          min-height:3rem;
          border-radius: 0.5rem;
          border: none;
          box-shadow: .2rem .2rem .3rem .2rem grey;
          font-size: 1.7rem;
          justify-content: center;
          text-align: center;
          padding-bottom: 0.5rem;
    }
  }













